@font-face {
    font-family: 'inglobal'; 
    src: url("..//fonts/inglobal.ttf") format("truetype");
}
body {
	font-family: inglobal;       /*fill it*/
	font-weight: 300;
	font-size: 16px;
	color: black;

	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;        
	font-weight: 300;
}
h3 {
	line-height: 1.3;
}
p {
	margin: 0;       
}
a:link, a:visited, a:hover {
	text-decoration: none;
	color: white;
}
hr {
	margin: 10px 0px;
}
.button {
	padding: 10px 13px;
	border: 0;
	border-radius: 2px;
	background-color: #3399ff;
	color: white;
	cursor: pointer;
}
.button:hover {
	background-color: #8bc53f;
}
.button-fixed {
	position: fixed;
	bottom: 0px;
	right: 150px;
}
.line {
	width: 90px;
	margin: 15px auto;
	border: 1px solid #3399ff;
}

/*HEADER*/
.headerbar {
	display: -webkit-flex;
	-webkit-justify-content: space-between;
	-webkit-flex-wrap: nowrap;
	-webkit-align-items: center;
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	align-items: center;
	padding: 20px;
	border-bottom: 4px solid #3399ff; 
}
.headerbar__logo {
	width: 24%;
}
.headerbar__logo img {
	width: 100%;
}
.headerbar__center-text {
	text-align: center;
}
.headerbar__numbers {
	display: -webkit-flex;
	display: flex;
}
.headerbar__numbers img {
	height: 25px;
	margin-right: 10px;
}
/*BANNER*/
.banner {
	position: relative;
	padding: 0px 20px;
	padding-bottom: 120px;
	overflow: hidden;
	background-image: url(..//images/banner-bg.png);
	background-size: cover;
	background-position: center;
}
.banner-audio {
	background-image: url(..//images/banner-audio-bg.png);
}
.banner-stroy {
	background-image: url(..//images/banner-stroy-bg.png);
}
.banner-wash {
	background-image: url(..//images/banner-wash-bg.png);
}
.navbar {
	display: -webkit-flex;
	-webkit-justify-content: flex-end;
	-webkit-flex-wrap: nowrap;
	-webkit-align-items: flex-start;
	display: flex;
	justify-content: flex-end;
	flex-wrap: nowrap;
	align-items: flex-start;
	position: relative;
	top: -43px;
	border: 0;
	transition: all 1.3s;
}
.navbar__elem {
	margin-left: 2px;
	padding-top: 8px; 
	border-radius: 0px;
	transform: skewX(-20deg);
}
.navbar-dropdown {
	display: none;
	position: absolute;
	right: 45px;
	width: 300px;
	padding: 25px;
	z-index: 999;
	text-align: center;
	background-color: #3399ff;
	color: white;
}
.banner__content {
	position: relative;
	top: -310px;
	margin-left: 30px;
	transition: all 1.3s;
}
.banner__h1 {
	margin-top: 10px;
	margin-bottom: 30px;
}
.banner__h3 {
	margin-bottom: 15px;
}
.banner__p {
	margin-bottom: 15px;
}
.banner__span {
	font-size: 1.5em;
}

/*ADVANTAGES*/
.advantages {
	margin-top: 50px;
	text-align: center;
}
.advantages__h2 {
	font-size: 2em;
}
.advantages__elem {
	margin: 0 1.65%;
	transform: scale(0);
	transition: all .4s;
}	
.advantages__elem img {
	width: 70%;
	margin-bottom: 20px;
}
/*TECHNICS*/
.technics {
	margin-top: 50px;
	text-align: center;
}
.technics__h2 {
	font-size: 2em;
	text-transform: uppercase;
}
.technics__elem {
	margin-bottom: 20px;
}
.technics__inner {
	position: relative;
	height: 310px;
	overflow: hidden;
}
.technics__img {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.technics__img-wash {
	width: 80%;
}
.technics__img img {
	width: 100%;
	transition: all .5s;
}
.technics__desc {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: all .5s;
}
.technics__h4 {
	font-size: 20px;
}
.technics__elem:hover  .technics__img img {
	transform: scale(1.2);
	opacity: 0.1;
}
.technics__elem:hover  .technics__img-audio img {
	transform: none;
	opacity: 1;
}
.technics__elem:hover  .technics__img-wash img {
	transform: scale(1.4);
	opacity: 1;
}
.technics__elem:hover  .technics__desc {
	opacity: 1;
}

/*SLIDER*/
.slider {
	position: relative;
	margin-top: 30px;
	padding: 0px;
}
.slider #myCarousel2 {
	padding: 20px;
}
.slider:hover .carousel-control.right, .slider:hover .carousel-control.left {
	display: -webkit-flex;
	display: flex;
}
.carousel-control.right, .carousel-control.left {
	display: none;
	-webkit-justify-content: center;
	-webkit-align-items: center;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 50px;
	height: 50px;
	top: 47%;
	background-image: none;
	background-color: white;
	color: #3399ff;
	opacity: 1;
	transition: all .5s;
}
.carousel-control.right {
	right: 0%;
}
.carousel-control.left { 
	left: 0%;
}
.carousel-control.left:hover {
	padding-right: 10px;
	color: #8bc53f;
}
.carousel-control.right:hover {
	padding-left: 10px;
	color: #8bc53f;
}
.slider__elem {
	margin-top: 20px;
}
.slider__main-content img {
	width: 100%;
}
.button-slider {
	position: absolute;
	top: 48%;
	left: 62%;
	z-index: 999;
}
.slider__h2 {
	text-align: center;
	font-size: 2em;
	text-transform: uppercase;
}
.slider-audio-bg-1 {
	background-image: url(..//images/slide-audio-1.jpg);
}
.slider-audio-bg-2 {
	background-image: url(..//images/slide-audio-2.jpg);
}
.slider-stroy-bg-2 {
	background-image: url(..//images/slide-stroy-2.jpg);
}
.slider-with-text-1 {
	padding: 50px 0px 150px 0px;
	background-size: cover;
	background-position: center;
}
.slider-with-text-2 {
	padding: 90px 0px 224px 0px;
	background-size: cover;
	background-position: center;
}
.slider__inner {
	position: relative;
	width: 39%;
	margin-right: 10px;
	left: 61%;
	font-size: 16px;
}
.slider-second {
	width: 39%;
	margin-right: 10px;
	left: 57%;
}
.slider-with-text-1__h2 {
	margin-bottom: 20px;
	font-size: 2.4em;
	color: #3399ff;
}
.slider-with-text-1__h3 {
	margin-bottom: 15px;
	margin-left: 20px;
	font-size: 1.5em;
}
.slider-with-text-1__p {
	margin-bottom: 15px;
	margin-left: 40px;
	font-size: 1.4em;
}
.slider-with-text-1__span {
	font-size: 1.3em;
}
.slider-with-text-2__h3 {
	font-size: 1.4em;
}
.slider-with-text-2__span {
	font-size: 1.5em;
	color: #8bc53f;
}
.button-audio {
	position: relative;
	top: none;
	left: 0;
	margin-left: 70px;
}

/*STOCK*/
.stock {
	padding: 30px;
	text-align: center;
	background-image: url(..//images/stock-bg.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	color: white;
}
.stock-audio {
	background-image: url(..//images/stock-audio-bg.jpg);
}
.stock-stroy {
	background-image: url(..//images/stock-stroy-bg.jpg);
}
.stock__h2 {
	font-size: 2em;
	text-transform: uppercase;
}
.stock__h3 {
	margin-bottom: 15px;
	font-size: 1.8em;
	color: #3399ff;
}
.stock__span {
	color: #3399ff;
}
.stock__main-content {
	width: 500px;
	margin: 20px auto;
	padding: 40px;
	border: 3px solid #3399ff;
	border-radius: 4px;
}

/*WORK-PLAN*/
.work-plan {
	margin-top: 30px;
	padding: 30px;
	text-align: center;
	background-image: url(..//images/work-plan-bg.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	color: white;
}
.work-plan__h2 {
	font-size: 2em;
	text-transform: uppercase;
}
.work-plan__elem {
	position: relative;
	left: -200px;
	margin-top: 40px;
	opacity: 0;
	transition: all 1s;
}
.work-plan__img {
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 115px;
	width: 115px;
	margin: 0 auto;
	border-radius: 50%;
	background-color: #3399ff;
}
.work-plan__p {
	margin-top: 10px;
	font-size: 1.2em;
}

/*MAP*/
.map { 
	width: 100%;
	margin-top: 30px;
	border-bottom: 4px solid #3399ff;
	text-align: center;
}
.map__h2 {
	font-size: 2em;
	text-transform: uppercase;
}
.map iframe { 
	width: 100%;
	height: 400px;
}
/*FOOTER*/
.footer .headerbar {
	border-bottom: 0;
}
.footer__p {	
	margin: 30px 20px 20px 20px;
}
.footer a {
	color: #3399ff;
}
.footer a:hover {
	color: #8bc53f;
	text-decoration: none;
}